body {
	background-color: #eee;
}

.container {
	font-family: 'Roboto', sans-serif;
	margin: auto;
	width: 500px;
}

/* Table Styling */
.table {
	border-collapse: collapse;
}

.table-header {
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid black;
}

.table-body {
	text-align: left;
}

.row {
	border-bottom: 1px solid #808080;
}

.cell {
	padding: 4px;
}

.correct {
	color: green;
}

.wrong {
	color: red;
}

.strikethrough {
	text-decoration: line-through;
}

/* referenced https://stackoverflow.com/a/9182921 */
.ui-autocomplete {
	max-height: 250px;
	overflow-x: hidden; /* add padding to account for vertical scrollbar */
}

.country-selected {
	border-style: solid;
	border-color: orange;
	border-width: 3px;
}

.capital-selected {
	border-style: solid;
	border-color: black;
	border-width: 3px;
}

.light-gray {
	background-color: #d3d3d3;
}
